body {
    background: url(https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/198071_503524242887_1051_n.jpg?_nc_cat=100&_nc_sid=cdbe9c&_nc_ohc=WlFmHPkEoqMAX9RgDnS&_nc_ht=scontent-iad3-1.xx&oh=ea416c3de76d108991957872d9a9b56c&oe=5F7BD457) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    background-color: cyan;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    float: left;
}

#this-is-me {
    max-height: 35%;
    float: left;
}

.container {
    margin-top: 10px;
}

.col-8 {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: left;
}