html {
    margin-left: 20px;
    margin-right: 20px;
    min-height: 100%;
}

body {
    background: url(https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/198071_503524242887_1051_n.jpg?_nc_cat=100&_nc_sid=cdbe9c&_nc_ohc=WlFmHPkEoqMAX9RgDnS&_nc_ht=scontent-iad3-1.xx&oh=ea416c3de76d108991957872d9a9b56c&oe=5F7BD457);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

header {
    background-color: darkslategrey;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

h1 {
    float: left;
}

h2 {
    text-align: center;
}

#this-is-me {
    max-height: 35%;
    float: left;
}

.container {
    margin-top: 10px;
}
.col-4 {
    float: left;
}
.col-8 {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: left;
    float: left;
}

#intro {
    font-size: 45px;
}

h4 {
    font-size: 30px;
}

#me-and-will {
    min-height: 35%;
    max-width: 40%;
    float: right;
    padding-left: 10px;
}

#me-and-nate {
    min-height: 35%;
    max-width: 40%;
    float: left;
    padding-right: 10px;
}

#contact-info {
    padding-top: 10px;
    text-align: left;
    line-height: 1.5;
}

.port-pic {
    max-height: 150px;
}

.col-md-4 {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}

.about-me-text {
    padding: 20px;
    margin-top: 10px;
}

@media (max-width: 576px) {
    html {
        margin-left: 0px;
        margin-right: 0px;
    } 
}