html {
    margin-left: 20px;
    margin-right: 20px;
}

main {
    background: url(https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/198071_503524242887_1051_n.jpg?_nc_cat=100&_nc_sid=cdbe9c&_nc_ohc=WlFmHPkEoqMAX9RgDnS&_nc_ht=scontent-iad3-1.xx&oh=ea416c3de76d108991957872d9a9b56c&oe=5F7BD457);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 2000px;
 
}

header {
    background-color: darkslategrey;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

h1 {
    float: left;
}

h2 {
    text-align: center;
}

.container {
    margin-top: 20px;
    min-width: 100%;
}

.col-4 {
    float: left;
}
.col-8 {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
    float: left;
    padding-left: 10%;
}

.col {
    max-width: 100%;
}
#intro {
    font-size: 45px;
}

#me-and-will {
    margin-right: 10%;
    max-width: 30%;
    float: right;
    padding-left: 20px;
}

#me-and-nate {
    max-width: 30%;
    float: left;
    padding-right: 20px;
    margin-left: 10%;
}

#contact-info {
    padding-top: 10px;
    text-align: left;
    line-height: 1.5;
}

.port-pic {
    max-height: 150px;
}

.col-6 {
    margin-top: 10px;
    padding: 20px;
}

.col-md-4 {
    margin-top: 10px;
    padding: 20px;
    text-align: center;
}

.about-me-text {
    margin: 2.5%;
    line-height: 2.1;
    font-size: 18px;
}

.contact-div {
    margin: 20px;
    line-height: 2.5;
    text-align: left;
}

input {
    padding: 12px, 20px;
    width: 80%;
    border: 2px, solid, grey;
}

textarea {
    width: 80%;
    resize: both;
    overflow: auto;
}

@media screen and (max-width: 576px) {
    html {
        margin-left: 0px;
        margin-right: 0px;
    } 
    .col-8 {
        font-size: 20px;
    }
}